:root {
    --font-body: Arial;
    --main-text-col: #000000;
    --off-text-col: #4f4f4f;
    --off-text-size: 40px;
    font-family: var(--font-body);
}

body {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    min-height: 100vh;
}

h1, h2, p, a {
    font-weight: 400,
}

