:root {
    --font-body: Arial;
    --main-body-color: #ffffff;
    --main-text-color: #000000;
    --secondary-font-color: hsl(0, 0%, 30%);
    --accent-bg-color: hsl(0, 0%, 85%);
    --hover-bg-color: hsl(0, 0%, 75%);
    font-family: var(--font-body);
    color: var(--main-text-color, #000000);
}


body {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    min-height: 100vh;
    background-color: var(--main-body-color, #ffffff)
}

h1, h2, p, a {
    font-weight: 400,
}

span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

button {
    background-color: var(--accent-bg-color);
    padding: 5px;
    text-align: inherit;
    font: inherit;
    border: none;
    appearance: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-bg-color);
}

button.text {
    background-color: var(--main-body-color);
    padding: 0px;
}

button.text:hover {
    text-decoration: underline;
}

@media (max-width: 450px) {
    body {
        padding: 1em;
    }
}

